html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Jura', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.grid {
    display: grid;

    /* 2 columnas */
   grid-template-columns: 300px 100px; 
   
   /* 2 filas */
   grid-template-rows: 40px 100px; 

}


.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}




#grilla {
    display: grid;
    grid-template-areas: 
    "s1 s2" 
    "s1 s3";   
    grid-template-columns: 100ox 1fr;     
    grid-template-rows: 100px 100px;     

    grid-column-gap: 10px;
    grid-row-gap: 15px;
 
}


section#s1 {
    background-color: blue;
    grid-area: s1;
}

section#s2 {
    background-color:crimson;
    grid-area: s2;
}

section#s3 {
    background-color:darkgoldenrod;
    grid-area: s3;
}